* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
    font-family: "Mukta", sans-serif;
}

body {
    text-align: center;
    background-color: whitesmoke;
}

h1 {
  text-align: center;
}

.card-border {
  margin-top: 50px;
  box-shadow: 0 4px 8px rgb(37, 42, 49);
  border-radius: 15px;
}

.form-style {
  margin-top: 50px;
}

.photo-card {
  border-radius: 0.5rem !important;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.photo-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.description-card {
  border-radius: 0.5rem !important;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.description-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

