* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
    font-family: 'Mukta', sans-serif;
}

body {
    text-align: center;
    background-color: whitesmoke;
}

.card-border {
    margin-top: 50px;
    box-shadow: 0 4px 8px rgb(26, 31, 39);
    border-radius: 15px;
}

.form-style {
    margin-top: 50px;
}